<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Sınaq</title>
</head>
<body>
    <div class="container">
        <div id="timer" class="mt-0 mr-6" style="font-family:sans-serif; position: fixed; right: 0; top: 5px;padding:10px;border:solid 2px;border-radius:15px;opacity:0.4;"></div>
        <div id="main">
            <form method="post">
             {%csrf_token%}
            {%if questions%}
            {%for question in questions%}
              <label >{{question.0.question}}</label><br>
              {% if question.0.question_type == 'close' %}
              <input type="radio" name="{{question.0.question_id}}" id="{{question.0.question_c1}}" value="A">
              <label for="{{question.0.question_c1}}">{{question.0.question_c1}}</label><br>
              <input type="radio" name="{{question.0.question_id}}" id="{{question.0.question_c2}}" value="B">
              <label for="{{question.0.question_c2}}">{{question.0.question_c2}}</label><br>
              <input type="radio" name="{{question.0.question_id}}" id="{{question.0.question_c3}}" value="C">
              <label for="{question.0.question_c3}">{{question.0.question_c3}}</label><br>
              <input type="radio" name="{{question.0.question_id}}" id="{{question.0.question_c4}}" value="D">
              <label for="{{question.0.question_c4}}">{{question.0.question_c4}}</label><br>
              <input type="radio" name="{{question.0.question_id}}" id="{{question.0.question_c5}}" value="E">
              <label for="{{question.0.question_c5}}">{{question.0.question_c5}}</label><br>
              {%else%}
                <input type="text" name="{{question.0.question_id}}" id="{{question.0.question_c1}}" ><br>
            {%endif%}
            <br><br>
            {%endfor%}
            {%endif%}
            <button class="btn btn-success mt-5" type="submit" name="end" value="end" id="submitexam">İmtahanı Bitir</button>
            </form>

            
        </div>
    </div>

    <script style="display: hidden;">
    var endtime = new Date('{{examend}}').getTime();
// Set the countdown duration to 1 hour (60 minutes * 60 seconds * 1000 milliseconds)
// Calculate the end time

// Update the countdown every second

var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = endtime - now;
    if (distance <= 0) {
        clearInterval(x);
        alert('Time has run out. Your submitted answers have been recorded.');
        document.getElementById("submitexam").click();
    } else {
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        hours = (hours < 10) ? "0" + hours : hours;
      minutes = (minutes < 10) ? "0" + minutes : minutes;
      seconds = (seconds < 10) ? "0" + seconds : seconds;

        document.getElementById("timer").innerHTML = hours + ":" + minutes + ":" + seconds;

        if (minutes == 9 && seconds == 59) {
            alert('Less than 10 minutes left!');
        }
    }
}, 1000);

    </script>
</body>
</html>